body {
    background-color: #FFFFFF;
    box-sizing: border-box;
    color: #555555;
    font-family: 'Inter', sans-serif;
    margin: 0;
    /* overflow-x: hidden; */
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin:  32px 32px 16px 32px;
}

#logo {
    height: 36px;
    width: 198px;
}

.navigation {
    align-items: center;
    display: flex;  
}

.navigation ul {
    display: none;
    margin: 0;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    color: #555555;
    line-height: 20px;
    margin: 0 28px;
    text-decoration: none;
}

#sign_up {
    color: #FF3998;
}

.hamburger {
    height: 22px;
    width: 24px;
}

.hero-container {
    display: flex;
    margin-left: 32px;
    overflow: hidden;
}

.hero-text {
    margin-top: 70px;
    width: 274px;
}


.hero-img-container img {
    height: 400px;
}

h3 {
    color: #FF3998;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-top: 0;
    padding-top: 0px;
}

h1 {
    color: #111111;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
}

.hero-text p {
    line-height: 30px;
    font-size: 15px;
    font-size: 20px;
    font-weight: 400;
}

.container-border {
    align-items: center;
    background: linear-gradient(130deg, #FF3998, rgba(0,255,0,0) 30%),
                linear-gradient(30deg, #FF3939, rgba(255,0,0,0) 70%),
                linear-gradient(230deg, #39FFA0, #FF8139 55%),
                linear-gradient(0deg, #FF8139, #FF8139 70%);
    background-size: 300px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    height: 75px;
    width: 188px;
}

.container-border button {
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 0;
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    height: 67px;
    line-height: 30px;
    width: 180px;
}

.upsell-container {
    background-image: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: 75px 0;
    height: 326px;
    width: 100%;
    
}

.upsell-container h2 {
    color: #111111;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    padding: 122px 32px 0px 32px;
    width: 364px; 
}

.upsell-container p {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    padding: 16px 32px;
    width: 364px;
    
}

.press-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 32px;
    row-gap: 27px;
}

.press-container-mobile-hidden {
    display: none;
}

.showcase-head {
    margin-left: 32px;
    width: 364px;
}

.showcase-head h2 {
    color: #111111;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0;
}

.showcase-head p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.showcase-head p u {
    text-decoration-color: #555555;
}

.nft-card-container {
    height: 424px;
    margin-left: 32px;
    overflow-x: auto;
    white-space: nowrap;
}

.nft-card {
    background-color: #EEEEEE;
    border-radius: 16px;
    display: inline-block;
    height: 400px;
    line-height: 100%;
    width: 290px;
}

.nft-card:not(:last-child) {
    margin-right: 35px;
}

.nft-card img {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-text {
    margin: 16px 24px 24px 24px;
    width: 242px;
}

.card-text td + td {
    text-align: right;
}

.card-text tr:first-child {
    font-weight: 500;
    font-size: 12px;
}

.card-text tr:first-child td:first-child  {
    color: #FF8139;
}

.card-text tr:first-child td:nth-child(2)  {
    color: #777777;
}

.card-text tr:nth-child(2) {
    color: #111111;
    font-weight: 500;
    font-size: 20px;
}

.card-text tr:nth-child(3) {
    color: #777777;
    font-weight: 400;
    font-size: 18px;
    height: 36px;
}

.line1 {
    border-top: 2px solid #EEEEEE;
    margin-top: 70px;
}

.footer-upsell-container {
    display: flex;
    height: 498px;
    margin-left: 32px;
}

.footer-upsell-text {
    margin-top: 70px;
    width: 214px;
}

.footer-upsell-img-container img {
    height: 410px;
    margin-left: 20px;
    margin-top: 209px;
}

h3 {
    color: #FF3998;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-top: 0;
    padding-top: 0px;
}

h1 {
    color: #111111;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
}

.footer-upsell-text p {
    font-size: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.container-border {
    align-items: center;
    background: linear-gradient(130deg, #FF3998, rgba(0,255,0,0) 30%),
                linear-gradient(30deg, #FF3939, rgba(255,0,0,0) 70%),
                linear-gradient(230deg, #39FFA0, #FF8139 55%),
                linear-gradient(0deg, #FF8139, #FF8139 70%);
    background-size: 300px;
    border-radius: 100px;
    display: flex;
    height: 75px;
    justify-content: center;
    width: 188px; 
}

.container-border button {
    color: #111111;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    height: 67px;
    line-height: 30px;
    width: 180px;
}

.line2 {
    border-top: 2px solid #EEEEEE;
    margin: 120px 0;
}

.footer-container {
    justify-content: space-between;
    margin-left: 32px;
}

.footer-right {
    text-align: left;
}

.footer-right div p {
    font-size: 20px;
    line-height: 20px;
    width: 150px;
}

.footer-right div p:first-child {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding: 12px 0;
}

.column-1-2 {
    display: flex;
}

.column-3-4 {
    display: flex;
}

.copyright {
    color: #999999;
    display: flex;
    justify-content: space-between;
    margin: 64px 0 64px 32px;
}

.copyright-mobile-display-none {
    display: none;
}

@media only screen and (min-width: 960px) {
    body {
        margin: 70px 80px;
        width: 1280px;
    }

    header {
        margin: 0;
    }

    .navigation ul {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .hero-container {
        height: 519px;
        margin: 130px 0;
        width: 1120px;
    }

    .hero-text {
        width: 560px;
    }

    .hero-img-container img {
        height: 620px;
        left: 650px;
        position: absolute;
        z-index: -1;
        top: 250px;
    }

    h1 {
        color: #111111;
        font-size: 96px;
        font-weight: 900;
        line-height: 116px;
    }

    .upsell-container {
        background-position-x: 0; 
        border-radius: 16px;
        height: 320px; 
    }

    .upsell-container h2 {
        padding-top: 155px;
        padding-left: 60px;
        width: 537px;
    }
    
    .upsell-container p {
        padding-left: 60px;
        width: 537px;
    }

    .press-container {
        display: flex;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0;
        margin: 100px 0;
        row-gap: 27px;
    }

    .press-container-mobile-hidden {
        display: block;
    }

    .showcase-head {
        margin-left: 0;
        margin-bottom: 50px;
        width: 782px;
    }

    .nft-card-container {
        margin-left: 0;
    }

    .line1 {
        border-top: 2px solid #EEEEEE;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .footer-upsell-container {
        display: flex;
        height: 310px;
        justify-content: space-between;
    }
    
    .footer-upsell-text p {
        width: 550px;
    }
    
    .footer-upsell-text h1 {
        font-size: 56px;
        line-height: 67px;
        width: 600px;
    }
    
    .footer-upsell-img-container img {
        height: 410px;
        margin-right: 220px;
        margin-top: 51px;
    }

    .line2 {
        border-top: 2px solid #EEEEEE;
        margin-bottom: 100px;
        margin-top: 150px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        margin-left: 32px;
    }
    
    .footer-right {
        display: flex;
        text-align: left;
    }

    .copyright {
        margin: 94px 0 64px 24px;
    }

    .copyright-mobile-display-none {
        display: block;
    }
}