body {
    box-sizing: border-box;
    margin: 0;
    color: #555555;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    /* font-family: 'Roboto', sans-serif; */
    background-image: url(/assets/graphic.png);
    background-size: 410px;
    background-repeat: no-repeat;
    background-position: 216px 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px;
}

#logo {
    width: 198px;
    height: 36px;
}

.navigation {
    align-items: center;
    display: flex;  
}

.navigation ul {
    display: none;
    margin: 0;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    text-decoration: none;
    color: #555555;
    margin: 0 28px;
    line-height: 20px;
}

#sign_up {
    color: #FF3998;
}

.hamburger {
    width: 24px;
    height: 22px;
}
/* --------------------------------------HERO */
.hero-container {
    margin-left: 32px;
}

.hero-text {
    width: 274px;
    margin-top: 70px;
}

h3 {
    color: #FF3998;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding-top: 0px;
    margin-top: 0;
}

h1 {
    margin: 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    color: #111111;
}

.hero-text p {
    font-size: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.container-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 75px;
    border-radius: 100px;
    background: linear-gradient(130deg, #FF3998, rgba(0,255,0,0) 30%),
                linear-gradient(30deg, #FF3939, rgba(255,0,0,0) 70%),
                linear-gradient(230deg, #39FFA0, #FF8139 55%),
                linear-gradient(0deg, #FF8139, #FF8139 70%);
    background-size: 300px;
}

.container-border button {
    width: 180px;
    height: 67px;
    border-radius: 100px;
    border: 0;
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #111111;
}
/* ---------------------------------------UPSELL */

.upsell-container {
    margin: 75px 0;
    height: 326px;
    width: 100%;
    background-image: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.upsell-container h2 {
    padding: 122px 32px 0px 32px;
    font-size: 40px;
    font-weight: 500;
    color: #111111;
    line-height: 48px;
    margin: 0;
    
}

.upsell-container p {
    font-size: 20px;
    font-weight: 400;
    padding: 16px 32px;
    color: #111111;
    line-height: 30px;
    margin: 0;
    
}
/* ---------------------------------PRESS */
.press-container {
    margin-left: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 27px;
    grid-auto-rows: 0;
    overflow-y: hidden; 
}


#boomerang {

}
/* -----------------------------------------------NFT */
.showcase-head {
    width: 364px;
    margin-left: 32px;
}

.nft-card-container {
    white-space: nowrap;
    overflow-x: auto;
    margin-left: 32px;
    /* width: 1280px; */
    background-color: #b65151;
}

.nft-card {
    display: inline-block;
    background-color: #EEEEEE;
    width: 290px;
    height: 400px;
    border-radius: 16px;
}

.nft-card:not(:last-child) {
    margin-right: 35px;
}


.nft-card img {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-text {
    width: 242px;
    margin: 16px 24px 24px 24px;
    border: 1px solid red;
}

.card-text td + td {
    text-align: right;
}






@media only screen and (min-width: 960px) {
    body {
        width: 1280px;
        margin: 70px 80px;
        background-size: 660px;
        background-repeat: no-repeat;
        background-position: 630px 150px;
    }
    header {
        margin: 0;
    }
    .navigation ul {
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .hero-container {
        margin: 130px 0;
        width: 1120px;
        height: 519px;
    }
    .hero-text {
        width: 560px;
    }
    h1 {
        font-size: 96px;
        font-weight: 900;
        line-height: 116px;
        color: #111111;
    }
    .upsell-container {
        border-radius: 16px;
        height: 320px;
        background-position-x: 0; 
    }
    .upsell-container h2 {
        padding-top: 155px;
        padding-left: 60px;
        width: 537px;
    }
    
    .upsell-container p {
        padding-left: 60px;
        width: 537px;
    }
    .press-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 27px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }



    .nft-card-container {
        margin-left: 0;
    }
}